.forgetPasswordBox {
  padding: 50px !important;
  background-color: var(--form-bg-color);
  border-radius: 30px;
}
.forgetPasswordBox .row:first-of-type {
  height: 90%;
}
.forgetPasswordBox .col-4,
.col-lg-3 {
  border-right: 4px solid var(--border-color);
}
.forgetPasswordBox ol {
  padding: 0;
  list-style: decimal;
}
.forgetPasswordBox .left li div {
  display: flex;
  color: var(--main-text-color);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.forgetPasswordBox .left li p {
  margin: 0 5px 0 0 !important;
  font-weight: 500;
}
.forgetPasswordBox .right h2 {
  font-size: 20px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.forgetPasswordBox label {
  justify-content: normal;
}
.Asterisk {
  font-size: 12px !important;
  color: var(--Asterisk-color);
}
.forgetPasswordBox .input-form {
  margin-top: 20px;
}
.successMsg {
  background-color: #0aad0a3c;
  margin: 10px auto;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid #0aad0a;
}
@media (max-width: 767px) {
  .forgetPasswordBox {
    padding: 30px !important;
    border-radius: 0;
  }
  .forgetPasswordBox .right h2 {
    font-size: 16px;
  }
  .forgetPasswordBox .greenLink {
    display: inline;
  }
  .forgetPasswordBox .pcolor{
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .forgetPasswordBox .col-lg-9 {
    padding: 50px !important;
  }
}
